.modal-confirm-title{
  text-align: center;
  color: white;
  background: #033d6a;
  margin-left: -24px !important;
  margin-right: -24px !important;
  margin-top: -24px  !important;
}

.modal-confirm-button{
  float: right;
}
